<div class="signin-content">
    <mat-card>
      <mat-card-title>
        <img src="../assets/ha_logo.svg" width="100%">
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p>Please login to continue</p>

          <mat-form-field *ngIf="authService.connected === false" class="full-width-input">
            <input matInput type="text" placeholder="Websocket Url" formControlName="ws_url">
            <mat-error *ngIf="isFieldInvalid('ws_url')">
              Please enter your Home Assistant Websocket URL (eg ws://10.0.0.2:8123)
            </mat-error>
          </mat-form-field>

          <mat-form-field  *ngIf="authService.needs_api_password" class="full-width-input">
            <input matInput type="password" placeholder="api_password" formControlName="password">
            <mat-error *ngIf="isFieldInvalid('password')">
              Please enter your api_password
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  