<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let light_id of light_ids">
            <app-light [light_id]="light_id"></app-light>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <app-climate></app-climate>>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card class="dashboard-card">
                <mat-card-title>Shades</mat-card-title>
                <mat-card-content>
                    <mat-button-toggle-group>
                        <mat-button-toggle checked="true">Open</mat-button-toggle>
                        <mat-button-toggle>Shut</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <mat-card class="dashboard-card">
                <mat-card-title>Scenes</mat-card-title>
                <mat-card-content>
                    <mat-button-toggle-group>
                        <mat-button-toggle>Bright</mat-button-toggle>
                        <mat-button-toggle>Dim</mat-button-toggle>
                        <mat-button-toggle>TV</mat-button-toggle>
                        <mat-button-toggle>Off</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>