<div class="grid-container">
    <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile colspan="3">
            <app-light-tile [light_ids]="light_ids"></app-light-tile>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-climate-tile></app-climate-tile>
        </mat-grid-tile>
        <mat-grid-tile colspan="2">
            <mat-card class="dashboard-card">
                <mat-card-title>Shades</mat-card-title>
                <mat-card-content>
                    <mat-button-toggle-group>
                        <mat-button-toggle checked="true">Open</mat-button-toggle>
                        <mat-button-toggle>Shut</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
            <mat-card class="dashboard-card">
                <mat-card-title>Scenes</mat-card-title>
                <mat-card-content>
                    <mat-button-toggle-group>
                        <mat-button-toggle>Bright</mat-button-toggle>
                        <mat-button-toggle>Dim</mat-button-toggle>
                        <mat-button-toggle>TV</mat-button-toggle>
                        <mat-button-toggle>Off</mat-button-toggle>
                    </mat-button-toggle-group>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>