<mat-card>
  <mat-card-title>Lights</mat-card-title>
  <mat-card-content>
    <mat-slider style="width:100%"></mat-slider>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Temperature</mat-card-title>
  <mat-card-content>
    <mat-button-toggle-group>
      <mat-button-toggle>68</mat-button-toggle>
      <mat-button-toggle>69</mat-button-toggle>
      <mat-button-toggle>70</mat-button-toggle>
      <mat-button-toggle>71</mat-button-toggle>
      <mat-button-toggle>72</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Window Shades</mat-card-title>
  <mat-card-content>
    <mat-button-toggle-group>
      <mat-button-toggle>Open</mat-button-toggle>
      <mat-button-toggle>Shut</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Scenes</mat-card-title>
  <mat-card-content>
    <mat-button-toggle-group>
      <mat-button-toggle>Bright</mat-button-toggle>
      <mat-button-toggle>Dim</mat-button-toggle>
      <mat-button-toggle>TV</mat-button-toggle>
      <mat-button-toggle>Off</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>